/* Estilo para el fondo de la página */
body {
    background-color: #222; /* Fondo oscuro */
    color: white; /* Texto en color blanco */
    font-family: 'Arial', sans-serif;
    text-align: center;
    padding: 50px;
    display: flex;
    justify-content: center;
    background-color: #0b1522;
    min-height: 100vh;
}

/* Estilo del mensaje de cumpleaños */
.mensaje {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    
}

/* Estilo del enlace */
.mi-enlace {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    color: red;
    text-decoration: none;
    background-color: #333; /* Fondo gris oscuro */
    padding: 15px 30px;
    border-radius: 10px;
    transition: 0.3s;
}

/* Cambio de color al pasar el mouse */
.mi-enlace {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 24px;
    font-weight: bold;
    color: red;
    background-color: #444;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.mi-enlace:hover {
    background-color: #444; /* Cambia el color de fondo al pasar el cursor */
    color: white; /* Cambia el color del texto */
    padding-top: 20px; /* Agrega más espacio arriba */
}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heart {
    height: 200px;
    width: 200px;
    background-color: #f20044;
    position: absolute;
    transform: rotate(-45deg);
    bottom: 220px; /* Lo bajas un poco */
    box-shadow: 10px 10px 90px #f20044;
    animation: heart 0.6s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

@keyframes heart {
    0% {
        transform: rotate(-45deg) scale(0.9);
    }

    80%{
        transform: rotate(-45deg) scale(1.0);
    }

    100%{
        transform: rotate(-45deg) scale(0.8);
    }
    
}

.heart p {
    position: absolute;
    z-index: 999;
    width: 100%;
    transform: rotate(45deg) translate(0, -50px);
}

.heart::before{
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #f20044;
    top: -50%;
    border-radius: 100px;
    box-shadow: -10px -10px 90px #f20044;

}

.heart::after{
    content: "";
    position: absolute;
    height: 200px;
    width: 200px;
    background-color: #f20044;
    right: -50%;
    border-radius: 100px;
    box-shadow: 10px 10px 90px #f20044;
    
}

